{% extends '../index.html' %}
{% block context %}

<link href="//netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<style>
    body {
        margin-top: 0px;
    }

    .panel-title {
        display: inline;
        font-weight: bold;
    }

    .checkbox.pull-right {
        margin: 0;
    }

    .pl-ziro {
        padding-left: 0px;
    }
</style>

<div class="container py-5 ">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Payment Details
                    </h3>

                </div>
                <div class="panel-body">
                    <form action="{% url 'verify' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="cardNumber">
                                CARD NUMBER</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="cardNumber"
                                    placeholder="Valid Card Number" min="0" max="9999999999999999" required=""
                                    autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label for="expityMonth">
                                        EXPIRY DATE</label>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        <input type="number" class="form-control" id="expityMonth" min="0" max="12"
                                            placeholder="MM" required="" />
                                    </div>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        <input type="number" class="form-control" id="expityYear" placeholder="YY"
                                            required="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label for="cvCode">
                                        CV CODE</label>
                                    <input type="password" class="form-control" id="cvCode" placeholder="CV" required />
                                </div>
                            </div>
                        </div>
                        <input type="hidden" value="{{code}}" name="tempCode">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Pay</button>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="container py-5 d-none">
    <div class="row justify-content-center">
        <form action="">
            <div class="row justify-content-center py-5">
                <label class="input-group-lg" for="verification">Please Enter The Code We Sent to your Email</label>
            </div>
            <div class="row justify-content-center py-5">
                <input class="form-control form-control-lg" type="text" placeholder="Verification" id="verification">
            </div>
            <div class="row justify-content-center py-5">
                <button class="btn btn-lg btn-success py-2">Verify</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}