<div class="container py-5">


    <div class="table-header row">

        <div class="col-sm-12 col-md-12 col-lg-4 mb-4">
            <h2>Announcements List</h2>
        </div>

    </div>
    <table class="table table-hover table-striped">
        <thead class="bg-secondary rounded">
            <tr>
                <form action="" method="POST">
                    {% csrf_token %}
                    <th>ID<input type="number" name="id" value="{{id}}" class="form-control border border-secondary">
                    </th>

                    <th>Content<input type="text" name="content" value="{{content}}"
                            class="form-control border border-secondary"></th>


                    <th>Sender Name<input type="text" name="name" value="{{name}}"
                            class="form-control border border-secondary"></th>

                    <th>Announced Date<input type="date" class="form-control border border-secondary" name="date"
                            value="{{date}}"></th>
                    <th><button type="submit" name="filter" class="btn btn-warning w-100">Filter</button></th>

                </form>
            </tr>
        </thead>
        <tbody>
            {% for announcement in announcements %}
            <tr>
                <td>{{announcement.id}}</td>
                <td>{{announcement.content}}</td>
                <td>{{announcement.sender.user.first_name}} {{announcement.sender.user.last_name}}</td>
                <td>{{announcement.date}}</td>
                {% if role == "manager" or role == "admin" %}
                <td> <a href="{% url 'deleteAnnouncement' announcement.id %}"
                        class="btn btn-sm btn-danger px-3">Delete</a> </td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>


{% if role == "manager" or role == "admin" %}

<div class="add-annoucment border-top my-3 mx-5 p-5">
    <h4>Add Announcement</h4>
    <form action="" method="POST">
        {% csrf_token %}

        <div class="form-group">
            <textarea class="form-control" name="textid" rows="8" placeholder="Enter Content of Announcement"
                id="textid">

            </textarea>
        </div>
        <button type="submit" class="btn btn-success btn-lg px-4 float-right" name="sendAnnouncement">Send</button>
    </form>
</div>
</div>

{% endif %}
</div>