<div class="row justify-content-center m-5">

    <div class="card border-danger shadow-lg w-75">

        <div class="card-body">

            <p>Are you sure you want to delete The selected Announcement ?</p>

            <form action="{% url 'deleteAnnouncement' announcement.id %}" method="POST">
                {% csrf_token %}
                <a class="btn btn-info" href="{% url 'announcements' %}">Cancel</a>

                <input class="btn btn-danger" type="submit" value="Confirm">
            </form>

        </div>

    </div>

</div>
&nbsp