<div class="row justify-content-center m-5">

    <div class="card border-danger shadow-lg w-75">

        <div class="card-body">

            <p>Are you sure you want to delete This Food menu : "{{food_menu}}" ?</p>

            <form action="{% url 'deleteFoodMenu' food_menu.id %}" method="post">
                {% csrf_token %}
                <a class="btn btn-info" href="{% url 'food-menu' %}">Cancel</a>

                <input class="btn btn-danger" type="submit" value="Confirm">
            </form>

        </div>

    </div>

</div>