<div class="container py-5">

    <div class="table-header row">

        <div class="col-sm-12 col-md-12 col-lg-4 mb-4">
            <h2>Storage</h2>
        </div>

    </div>
    <table class="table table-hover table-striped">
        <thead class="bg-secondary rounded">
            <tr>
                <form action="" method="POST">
                    {% csrf_token %}
                    <th>Item ID <input type="number" name="id" value="{{id}}"
                            class="form-control border border-secondary"></th>
                    <th>Item Name <input type="name" name="name" value="{{name}}"
                            class="form-control border border-secondary"></th>
                    <th>Type <input type="text" name="type" value="{{type}}"
                            class="form-control border border-secondary"></th>
                    <th class="pb-5">Quantity</th>
                    <th colspan="3"><button type="submit" name="filter" class="btn btn-warning w-100">Filter</button>
                    </th>
                </form>
            </tr>
        </thead>
        <tbody>

            {% for s in storage %}
            <tr>
                <td>{{s.id}}</td>
                <td>{{s.itemName}}</td>
                <td>{{s.itemType}}</td>

                <form action="" method="POST">
                    {% csrf_token %}
                    <td><input type="number" step="1" value="{{s.quantitiy}}" name="quantitiy"></td>
                    <td><input type="hidden" step="1" value="{{s.id}}" name="id"></td>

                    <th><button type="submit" class="btn btn-sm btn-primary w-100" name="save">Save</button></th>
                    {% if role == "manager" or role == "admin" %}
                    <th> <a href="{% url 'deleteStorage' s.id %}" class="btn btn-sm btn-danger px-3">Delete</a> </th>
                    {% endif %}

                </form>
            </tr>
            {% endfor %}

        </tbody>

    </table>
    <div class="newItem my-5 border-top pt-3">
        <h3>Add Item</h3>
        <form action="" method="POST">
            {% csrf_token %}

            <div class="form-group pt-3">
                <label for="item_name"><b>Item Name</b></label>
                <input type="text" class="form-control border border-secondary required" id="id_item_name"
                    name="itemName">
            </div>

            <div class="form-group pt-3">
                <label for="exampleFormControlSelect1">Item Type</label>
                <select class="form-control" name="itemType" required="" id="id_item_type">
                    <option value="" selected="">---------</option>

                    <option value="Kitchen">Kitchen</option>

                    <option value="Cleaning">Cleaning</option>

                    <option value="Electronic">Electronic</option>

                    <option value="Textile">Textile</option>

                    <option value="Other">Other</option>

                </select>
            </div>

            <div class="form-group">
                <label for="item-quantity"><b>Item Quantity</b></label>
                <input type="int" class="form-control border border-secondary required" name="quantitiy"
                    id="item-quantity">
            </div>

            <button type="submit" class="btn btn-primary px-5 float-right mb-5" name="add">Add</button>
        </form>

    </div>
</div>

</div>