<!--Admin Navbar-->
<nav class="navbar navbar-dark bg-dark navbar-expand-lg py-3 " role="navigation">
    <div class="container">
        <a href="" class="navbar-brand">

            <h2 class="text-capitalize">
                {{ request.user.first_name }} {{ request.user.last_name }} -
                <small>
                    {{ role }}
                </small>
            </h2>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarTags">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTags">
            <ul class="navbar-nav ml-auto">


                <li class="nav-item dropdown p-2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Options
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                        <!--Dropdpwn items are changed by role-->

                        {% if role == 'admin' %}

                        <a class="dropdown-item" href="{% url 'guests'%}">Guests</a>
                        <a class="dropdown-item" href="{% url 'employees'%}">Employees</a>
                        <a class="dropdown-item" href="{% url 'events'%}">Events</a>
                        <a class="dropdown-item" href="{% url 'bookings' %}">Bookings</a>
                        <a class="dropdown-item" href="{% url 'rooms' %}">Rooms</a>
                        <a class="dropdown-item" href="{% url 'room-services' %}">Room Services</a>
                        <a class="dropdown-item" href="{% url 'announcements' %}">Announcements</a>
                        <a class="dropdown-item" href="{% url 'refunds' %}">Refunds</a>

                        {% elif role == 'guest' %}

                        <a class="dropdown-item" href="{% url 'announcements' %}">Announcements</a>
                        <a class="dropdown-item" href="{% url 'rooms' %}">Book Room</a>
                        <a class="dropdown-item" href="{% url 'current-room-services' %}">Current Room Services</a>
                        <a class="dropdown-item" href="{% url 'events' %}">Events</a>

                        {% if request.user.guest.currentRoom != None %}
                        <a class="dropdown-item" href="{% url 'room-profile' request.user.guest.currentRoom %}">My
                            Room</a>
                        {% else %}<a class="dropdown-item" href="{% url 'rooms' %}">My Room</a> {% endif %}


                        {% elif role == 'manager' %}

                        <a class="dropdown-item" href="{% url 'guests'%}">Guests</a>
                        <a class="dropdown-item" href="{% url 'employees'%}">Employees</a>
                        <a class="dropdown-item" href="{% url 'events'%}">Events</a>
                        <a class="dropdown-item" href="{% url 'bookings' %}">Bookings</a>
                        <a class="dropdown-item" href="{% url 'rooms' %}">Rooms</a>
                        <a class="dropdown-item" href="{% url 'room-services' %}">Room Services</a>
                        <a class="dropdown-item" href="{% url 'announcements' %}">Announcements</a>
                        <a class="dropdown-item" href="{% url 'storage' %}">Storage</a>
                        <a class="dropdown-item" href="{% url 'refunds' %}">Refunds</a>


                        {% elif role == 'receptionist' %}

                        <a class="dropdown-item" href="{% url 'guests'%}">Guests Information</a>
                        <a class="dropdown-item" href="{% url 'rooms'%}">Room Information</a>
                        <a class="dropdown-item" href="{% url 'events'%}">Event Information</a>
                        <a class="dropdown-item" href="{% url 'bookings' %}">Booking Information</a>
                        <a class="dropdown-item" href="{% url 'announcements'%}">Announcements</a>

                        {% elif role == 'staff' %}

                        <a class="dropdown-item" href="{% url 'tasks'%}">My Tasks</a>
                        <a class="dropdown-item" href="{% url 'announcements'%}">Announcements</a>
                        <a class="dropdown-item" href="{% url 'food-menu'%}">Food Menu</a>
                        <a class="dropdown-item" href="{% url 'storage'%}">Storage</a>

                        {% endif %}

                    </div>
                </li>


                <li class="nav-item mr-3 p-2">
                    {% if role == 'staff' or role == 'receptionist' or role == 'admin' or role == 'manager' %}
                    <a href="{% url 'employee-profile' user.id %}" class="nav-link">Profile</a>
                    {% endif %}
                    {% if role == 'guest' %}
                    <a href="{% url 'guest-profile' user.id %}" class="nav-link">Profile</a>
                    {% endif %}
                </li>
                <li class="nav-item p-2 ">
                    <a href="{% url 'logout' %}" class="nav-link">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>